.site-header{
	background-size:cover !important;
	background-position:50% !important;
	position:relative !important;
}
.site-header > a.home-link{
	position:relative;
}
.site-header > a.home-link:after{
	content:' ';
	width:  270px;
	height: 360px;
	background-image: url('https://2016.birmingham.wordcamp.org/files/2016/07/wp-yall.png');
	background-position:50%;
	background-size:cover;
	position:absolute;
	right:64px;
	top:32px;
}

.site-header .home-link{
	min-height:440px;
}

.site-title{
	text-shadow:0 0 64px rgba(255,255,255,.5), 0 0 3px rgba(255,255,255,.75);
}

.site-description{
	color:#fafafa !important;
}

.navbar{
	background-color:#489a96;
}

.nav-menu li a{
	color:#fafafa;
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
.nav-menu li a:hover{
	background-color: #c7dc67;
	color: #489a96;
}