body{
	color:#576473;
}
a{
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
p{
	font-size:1.25em;
	line-height:1.618;
}
.site{
	background: -webkit-repeating-linear-gradient(left, #fafafa, #fafafa 10px, #f5f9fc 10px, #f5f9fc 20px);
	background: repeating-linear-gradient(to right, #fafafa, #fafafa 10px, #f5f9fc 10px, #f5f9fc 20px);
}
.site-header{
	background-size:cover !important;
	background-position:50% !important;
	position:relative !important;
  border-top:3px solid white;
}
.site-header > a.home-link{
	position:relative;
}
.site-header > a.home-link:after{
	content:' ';
	width:  360px;
	height: 360px;
	background-image: url('https://2016.birmingham.wordcamp.org/files/2016/09/wordcamp-birmingham-final.png');
	background-position:50%;
	background-size:cover;
	position:absolute;
	right:0px;
	top:32px;
}

.site-header .home-link{
	min-height:440px;
}

.site-title{
	text-shadow:0 0 64px rgba(255,255,255,.5), 0 0 3px rgba(255,255,255,.75);
}
.site-header .site-title:hover{
	text-decoration: none !important;
}

.site-description{
	color:#fafafa !important;
}
#primary-menu{
	display: inline-block;
	padding: 0;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.navbar{
	background-color:#576676;
	border-top:3px solid #c7dc67;
}

.nav-menu li a{
	color:#fafafa;
	padding: 15px 12px;
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
.nav-menu li a:hover{
	background-color: #c7dc67;
	color: #576676;
}

.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a{
	color:#c7dc67;
  font-weight:900;
}

.widget{
  background-color:rgb(87, 100, 115);
}

.widget h3, .widget a, .widget p, .widget a:visited{
  color:white;
}
.widget a:hover{
  color:#c7dc67;
}

.widget input[type="submit"]{
  background:#858e85;
  -webkit-transition: all .22s ease-in-out;
  -o-transition: all .22s ease-in-out;
  transition: all .22s ease-in-out;
  border:0;
  width: 100%;
  border-radius: 0;
}

.widget input[type="submit"]:hover{
  background:#c7dc67;
}
.sponsor-level-title{
  color:#c7dc67;
}

.entry-meta a, a:visited, .entry-content a, .comment-content a, a:visited{
	color: #cd4b5a;
}
h1.entry-title a{
	background: #c7dc67;
	padding: .25em .4em;
	display: block;
	line-height: 1.2;
	color: #576473;
	border-left: .125em solid #576676;
	margin-bottom: .5em;
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
h1.entry-title a:hover{
	color:#576676;
	text-decoration:none;
}
.entry-content a:hover, .comment-content a:hover{
	color:#cd4b5a;
}

.site-footer .sidebar-container{
	background-color:#576473;
}

.site-footer .widget a{
	color: #c7dc67;
}
.site-footer{
	background-color:#cd4b5a;
}
.site-info a{
	color:#fafafa;
}
.search-form{
	display:none !important;
}

.site-header > a.home-link:after {
  display: inline-block;
  transform-origin: center center;
}

.site-header > a.home-link:hover:after {
  animation: shake 100ms ease-in-out infinite;
}

.sponsor-logo img{
  width: 100%;
  background: rgba(255,255,255,.25);
  padding: 2em;
  border: 1px solid #c7dc67;
  -webkit-transition: all .22s ease-in-out;
  -o-transition: all .22s ease-in-out;
  transition: all .22s ease-in-out;
  max-height:none !important;
}
.sponsor-logo:hover img{
  background: rgba(255,255,255,.75);
}
.sponsor-level-title{
  text-transform: uppercase;
  text-align: center;
  padding:.25em;
  color:#fafafa;
  background:#c7dc67;
  border: 1px solid rgba(255,255,255,.5);
  margin:.5em 0;
}

.sidebar-container p{
  font-size:.9em;
  line-height:1.125;
}
#subscribe-submit{
  margin-bottom:0 !important;
}
#subscribe-email{
  margin: 0;
  text-align: center;
  width: 100%;
}
#subscribe-email input{
  width: 100% !important;
  border: 2px solid #c7dc67;
  padding:.5em;
}

.paging-navigation{
  background-color:#858e85;
}
.paging-navigation .meta-nav{
  background-color: #cd4b5a;
}
.navigation a{
  color: white;
}
.navigation a:hover{
  color:#576676;
}
.paging-navigation a:hover .meta-nav{
  background-color: #576676;
}
#primary{
	min-height:3300px;
}
@media (max-width: 999px) {
	#primary{
		min-height:100px;
	}
}
