body{
	color:#576473;
}
a{
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
p{
	font-size:1.25em;
	line-height:1.618;
}
.site{
	background: -webkit-repeating-linear-gradient(left, #fafafa, #fafafa 10px, #f5f9fc 10px, #f5f9fc 20px);
	background: repeating-linear-gradient(to right, #fafafa, #fafafa 10px, #f5f9fc 10px, #f5f9fc 20px);
}
.site-header{
	background-size:cover !important;
	background-position:50% !important;
	position:relative !important;
  border-top:3px solid white;
}
.site-header > a.home-link{
	position:relative;
}
.site-header > a.home-link:after{
	content:' ';
	width:  270px;
	height: 360px;
	background-image: url('https://2016.birmingham.wordcamp.org/files/2016/07/wp-yall.png');
	background-position:50%;
	background-size:cover;
	position:absolute;
	right:64px;
	top:32px;
}

.site-header .home-link{
	min-height:440px;
}

.site-title{
	text-shadow:0 0 64px rgba(255,255,255,.5), 0 0 3px rgba(255,255,255,.75);
}
.site-header .site-title:hover{
	text-decoration: none !important;
}

.site-description{
	color:#fafafa !important;
}
#primary-menu{
	display: inline-block;
	padding: 0;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.navbar{
	background-color:#489a96;
	border-top:3px solid #c7dc67;
}

.nav-menu li a{
	color:#fafafa;
	padding: 15px 12px;
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
.nav-menu li a:hover{
	background-color: #c7dc67;
	color: #489a96;
}

.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a{
	color:#c7dc67;
  font-weight:900;
}

.widget{
  background-color:rgb(87, 100, 115);
}

.widget h3, .widget a, .widget p, .widget a:visited{
  color:white;
}
.widget a:hover{
  color:#c7dc67;
}

.widget input[type="submit"]{
  background:#489a96;
  -webkit-transition: all .22s ease-in-out;
  -o-transition: all .22s ease-in-out;
  transition: all .22s ease-in-out;
  border:0;
}

.widget input[type="submit"]:hover{
  background:#c7dc67;
}
.sponsor-level-title{
  color:#c7dc67;
}

.entry-meta a, a:visited{
	color: #489a96;
}
h1.entry-title a{
	background: #c7dc67;
	padding: .25em .4em;
	display: block;
	line-height: 1.2;
	color: #576473;
	border-left: .125em solid #489a96;
	margin-bottom: .5em;
	-webkit-transition: all .22s ease-in-out;
	-o-transition: all .22s ease-in-out;
	transition: all .22s ease-in-out;
}
h1.entry-title a:hover{
	color:#489a96;
	text-decoration:none;
}
.entry-content a:hover, .comment-content a:hover{
	color:#c54d59;
}

.site-footer .sidebar-container{
	background-color:#576473;
}

.site-footer .widget a{
	color: #c7dc67;
}
.site-footer{
	background-color:#489a96;
}
.site-info a{
	color:#fafafa;
}
.search-form{
	display:none !important;
}

.site-header > a.home-link:after {
  display: inline-block;
  transform-origin: center center;
}

.site-header > a.home-link:hover:after {
  animation: shake 100ms ease-in-out infinite;
}

.sponsor-logo img{
  width: 100%;
  background: rgba(255,255,255,.25);
  padding: 2em;
  border: 1px solid #c7dc67;
}
.sponsor-level-title{
  text-transform: uppercase;
  text-align: center;
  padding:.25em;
  color:#fafafa;
  background:#c7dc67;
  border: 1px solid rgba(255,255,255,.5);
}

.sidebar-container p{
  font-size:.9em;
  line-height:1.125;
}
.subscribe-submit{
  margin-bottom:0;
}

@keyframes shake {
  2% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  4% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg); }
  6% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg); }
  8% {
    transform: translate(0.5px, 2.5px) rotate(0.5deg); }
  10% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  12% {
    transform: translate(-0.5px, -0.5px) rotate(-0.5deg); }
  14% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  16% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  18% {
    transform: translate(2.5px, 0.5px) rotate(-0.5deg); }
  20% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  22% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  24% {
    transform: translate(1.5px, 2.5px) rotate(1.5deg); }
  26% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  28% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  30% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  32% {
    transform: translate(0.5px, 2.5px) rotate(-0.5deg); }
  34% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
  36% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg); }
  38% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  40% {
    transform: translate(-0.5px, 1.5px) rotate(0.5deg); }
  42% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  44% {
    transform: translate(-1.5px, -1.5px) rotate(1.5deg); }
  46% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  48% {
    transform: translate(-0.5px, 1.5px) rotate(-0.5deg); }
  50% {
    transform: translate(2.5px, -0.5px) rotate(-0.5deg); }
  52% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  54% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  56% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  58% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  60% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  62% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  64% {
    transform: translate(0.5px, 0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  68% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg); }
  70% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  72% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg); }
  74% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  76% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  78% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  80% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  82% {
    transform: translate(-0.5px, 2.5px) rotate(1.5deg); }
  84% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  86% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  88% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  90% {
    transform: translate(1.5px, -0.5px) rotate(-0.5deg); }
  92% {
    transform: translate(0.5px, -1.5px) rotate(1.5deg); }
  94% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  98% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }